{% extends 'shared/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}  جزئیات  | {% endblock %}
{% load tags %}
{% block style %}
<link href="{% static 'assets/css/lightbox.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">{{ listing.title }}</h1>
        <p class="lead">
          <i class="fas fa-map-marker"></i> {{ listing.city }} - {{ listing.state }} - {{ listing.zipcode }}</p>
      </div>
    </div>
  </div>
</section>
{% include 'partials/_alerts.html' %}
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'blog:home' %}">خانه</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'listings:listings' %}"> لیست </a>
        </li>
        <li class="breadcrumb-item active">{{ listing.title }}</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Listing -->
<section id="listing" class="py-4">
  <div class="container">
    <a href="{% url 'listings:listings' %}" class="btn btn-light mb-4">برگشت به لیست</a>
    <div class="row">
      <div class="col-md-9">
        <!-- Home Main Image -->
        <img src="{{listing.photo_main.url }}" alt="" class="img-main img-fluid mb-3">
        <!-- Thumbnails -->
        <div class="row mb-5 thumbs">
          {% if listing.photo_1 %} <div class="col-md-2">
            <a href="{{ listing.photo_1.url }}" data-lightbox="home-images">
              <img src="{{ listing.photo_1.url }}" alt="" class="img-fluid">
            </a>
          </div>{% endif %}

          {% if listing.photo_2 %} <div class="col-md-2">
            <a href="{{ listing.photo_2.url }}" data-lightbox="home-images">
              <img src="{{ listing.photo_2.url }}" alt="" class="img-fluid">
            </a>
          </div>{% endif %}

          {% if listing.photo_3 %}<div class="col-md-2">
            <a href="{{ listing.photo_3.url }}" data-lightbox="home-images">
              <img src="{{ listing.photo_3.url }}" alt="" class="img-fluid">
            </a>
          </div>{% endif %}

          {% if listing.photo_4 %} <div class="col-md-2">
            <a href="{{ listing.photo_4.url }}" data-lightbox="home-images">
              <img src="{{ listing.photo_4.url }}" alt="" class="img-fluid">
            </a>
          </div>{% endif %}

          {% if listing.photo_5 %}<div class="col-md-2">
            <a href="{{ listing.photo_5.url }}" data-lightbox="home-images">
              <img src="{{ listing.photo_5.url }}" alt="" class="img-fluid">
            </a>
          </div>{% endif %}

          {% if listing.photo_6 %} <div class="col-md-2">
            <a href="{{ listing.photo_6.url }}" data-lightbox="home-images">
              <img src="{{ listing.photo_6.url }}" alt="" class="img-fluid">
            </a>
          </div>{% endif %}

        </div>
        <!-- Fields -->
        <div class="row mb-5 fields">
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fas fa-money-bill-alt"></i> قیمت:
                <span class="float-left">{{ listing.price | intcomma }} ریال</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bed"></i> حمام:
                <span class="float-left">{{ listing.bedrooms }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bath"></i> اتاق خواب:
                <span class="float-left">{{ listing.bathroom }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-car"></i> گاراژ:
                <span class="float-left">{{ listing.garage }}
                </span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fas fa-th-large"></i> متراژ:
                <span class="float-left">{{ listing.sqft }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-square"></i> زیر بنا:
                <span class="float-left">{{ listing.lot_size }} متر مربع
                </span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-calendar"></i> تاریخ انتشار:
                <span class="float-left">{{ listing.published_at |jalali_date }}</span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bed"></i> مشاور فروش:
                <span class="float-left">{% for real in listing.realtor.all %}{{ real.name }}| {% endfor %}
                </span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Description -->
        <div class="row mb-5">
          <div class="col-md-12">
            {{ listing.description }}
          </div>
        </div>
      </div>
      {% for  real in listing.realtor.all %}
      <div class="col-md-3">
        <div class="card mb-3">
          <img class="card-img-top" src="{{ real.photo.url }}" alt="Seller of the month">
          <div class="card-body">
            <h5 class="card-title">{{ real.role.title}}</h5>
            <h6 class="text-secondary">{{ real.name }}</h6>
          </div>
        </div>
        <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">تماس با
          {{  real.role.degree }}</button>
      </div>{% endfor %}
    </div>
  </div>
</section>

<!-- Inquiry Modal -->
<div class="modal fade" id="inquiryModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryModalLabel"> {{ listing.title }}</h5></button>
        <button type="button" class="close ml-2" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'contacts:contact' %}" method="POST">
          {% csrf_token %}
          {% if user.is_authenticated %}
          <input type="hidden" class="hidd" name="user_id" value="{{ user.id }}">
          {% else %}
          <input type="hidden" class="hidd" name="user_id" value="0">
          {% endif %}
          <input type="hidden" name="realtor_email" value="{{ listing.realtor.email }}">
          <input type="hidden" name="listing_id" value="{{ listing.id }}">
          <div class="form-group">
            <label for="property_name" class="col-form-label">مالک:</label>
            <input type="text" name="listing" class="form-control" value="{{ listing.title }}">
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">نام:</label>
            <input type="text" name="name" class="form-control" {% if user.is_authenticated %}
              value="{{ user.first_name }} {{ user.last_name }}" {% endif %}required>
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">ایمیل:</label>
            <input type="email" name="email" class="form-control" {% if user.is_authenticated %}
              value="{{ user.email }}" {% endif %} required>
          </div>
          <div class="form-group">
            <label for="phone" class="col-form-label">تلفن:</label>
            <input type="text" name="phone" class="form-control" {% if user.is_authenticated %}value="{{ user.phone }}"
              {% endif %}>
          </div>
          <div class="form-group">
            <label for="message" class="col-form-label">پیام:</label>
            <textarea name="message" class="form-control"></textarea>
          </div>
          <hr>
          <input type="submit" value="ارسال" class="btn btn-block btn-secondary">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}